<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    {% extends 'layouts/base.html' %}
    {% block content %}
        <h1 class="pt-10">About </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus distinctio eos et, excepturi expedita explicabo in incidunt, itaque maiores saepe tempore tenetur veritatis. Ad facere officia quae quas recusandae repellat.</p>
        <h2>Created by: {{ username }}</h2>
    {% endblock %}

</body>
</html>